/* background: #0B0D46; */
.sidebar {
    min-width: var(--sidebar-width);
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #0B0D46;
    box-shadow: var(--bpx-s);
}

.sidebar__logo {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar__logo>img {
    height: 65px;
    border-radius: var(--border-radius);
}

.sidebar__logo>h1{
    color: white;
    padding: 25px;
}

.sidebar__items {
    padding: 0 20px;
    color: white;
}

.sidebar__item-inner {
    padding: 15px 25px;
    display: flex;
    align-items: center;
    font-weight: 600;
    transition: color .3s ease 0s;
}

.sidebar__item-inner>i {
    margin-right: 10px;
    font-size: 1.5rem;
}

.sidebar__item-inner>span {
    text-transform: capitalize;
}

.sidebar__item-inner:hover {
    color:#0B0D46;
    background-image:linear-gradient(to right,
        white,
        #0B0D46);
    border-radius: var(--border-radius);
}

.sidebar__item-inner.active {
    border-radius: var(--border-radius);
    background-image: linear-gradient(to right,
        var(--main-color),
        var(--second-color));
    color: var(--txt-white);
}

/* Media Quesries for Small Screen */
